.FATAL {
	background-color: #ff3c3c !important;
	font-weight: bold;
	font-size:10px;
}

.ERROR {
	background-color: #ff8282 !important;
	font-size:10px;
}

.WARN {
	background-color: #ffb366 !important;
	font-size:9px;
}

.INFO {
	font-size: 9px;
}

.DEBUG {
  font-size: 9px;
	background-color: #EAEAFF;
}

#contentTable pre {
  font-size:9px;
}