.FATAL {
	background-color: #ff3c3c;
	font-weight: bold;
	font-size:10px;
}

.ERROR {
	background-color: #ff8282;
	font-size:10px;
}

.WARN {
	background-color: #ffb366;
	font-size:9px;
}

.INFO {
	font-size: 9px;
}

.DEBUG {
  font-size: 9px;
	background-color: #EAEAFF;
}

thead {
	background-color: #f0f0f0;
}

#contentTable th, #contentTable td {
	text-align: left;
	border: 1px solid #cccccc;
}

#contentTable pre {
  font-size:9px;
}